.products-title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.products_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0px;

}
.products-img{
    border-radius: 8px;
}

.card {
    display: inline-block;
}

.card_list {
    padding: 10px;
}

.card_item {
    
}


.card-item_title{
    margin: 0 0 2px 0;
    font-size: 16px;
}

.card-item_text{
    display: inline-block;
    margin: 0 0 4px 0;
    font-size: 12px;
    opacity: 0.7;
}

.card-item_cost{
    margin: 0 0 12px 0;
    font-size: 12px;
}

.prices_text{
    font-weight: bold;
}

.prices-del, .prices-ins{
    font-size: 14px;
    line-height: 14px;
}

.prices-ins{
    text-decoration: none;
}

.item-div {

}

.item-div_prices {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg{
        padding: 2px;
        border-radius: 50%;
        border: 1px solid #808080;
    }

    svg:hover{
        background: #e1e1e1;
        transition: all 0.2s ease;
 
    }
}